### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [329]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [330]:
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [331]:
#Finding the length of total number of schools 
total_schools_df=pd.unique(school_data_complete_df['school_name'])
total_schools_df
total_schools_number_df=len(total_schools)
total_schools_number_df

15

In [332]:
#Finding the total number of students
total_students_number_df=len(school_data_complete_df)
total_students_number_df

39170

In [354]:
#calculate the total budget 
#Finding the total budget per school per school
school_name_df = school_data_complete_df.groupby('school_name')
budget_per_school = budget_per_school_unclean_df/students_per_df
added_budget_df = budget_per_school/students_per_df
added_budget_df = added_budget.sum()
added_budget_df

24649428.0

In [343]:
#calculate average math score 
average_math_df=school_data_complete_df['math_score'].mean()
average_math_df

78.98537145774827

In [344]:
#calculate average reading score 
average_reading_df=school_data_complete_df['reading_score'].mean()
average_reading_df

81.87784018381414

In [345]:
#calculate the amount of students passing math
passing_math_df=school_data_complete_df.loc[(school_data_complete_df['math_score']>=70)]
passing_number_math_df=len(passing_math_df)
passing_math_percentage_df=passing_number_math_df/total_students_number_df*100
passing_math_percentage_df

74.9808526933878

In [346]:
#calculate the amount of students passing reading 
passing_reading_df=school_data_complete_df.loc[(school_data_complete_df['reading_score']>=70)]
passing_number_reading_df=len(passing_reading_df)
passing_reading_percentage_df=passing_number_reading_df/total_students_number_df*100
passing_reading_percentage_df

85.80546336482001

In [347]:
#calculate the amount of students passing reading and math 
passing_both_df=school_data_complete_df.loc[(school_data_complete_df['math_score']>=70)&(school_data_complete_df['reading_score']>=70)]
passing_number_both_df=len(passing_both_df)
passing_both_percentage_df=passing_number_both_df/total_students_number_df*100
passing_both_percentage_df

65.17232575950983

In [348]:
#Putting all the summarized variables in a Data Frame 
summary_df=pd.DataFrame({'Total Schools':[total_schools_number_df],
                        'Total Students':[total_students_number_df],
                        'Total Budget':[added_budget_df],
                        'Average Math Score':[average_math_df],
                        'Average Reading Scoare':[average_reading_df],
                        '% Passing Math':[passing_math_percentage_df],
                        '% Passing Reading':[passing_reading_percentage_df],
                        '% Overall Passing':[passing_both_percentage_df]})
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Scoare,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428.0,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
#Finding the name of each school 
#unique_school_df = school_data_complete_df[['school_name','type']]

In [517]:
#Finding the whether it is a charter or District school
school_name_df = school_data_complete_df.groupby(['school_name','type'])
school_name_df.count()

,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,District,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,Charter,427,427,427,427,427,427,427,427,427
Huang High School,District,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,District,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,Charter,962,962,962,962,962,962,962,962,962
Rodriguez High School,District,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,Charter,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,Charter,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,Charter,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,Charter,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [391]:
#How many students attend each school 
school_name_df = school_data_complete_df.groupby('school_name')
students_per_df = school_name_df['student_name'].count()
students_per_clean_df=pd.DataFrame(students_per_df)
students_per_clean_df

                       student_name
school_name
Bailey High School             4976
Cabrera High School            1858
Figueroa High School           2949
Ford High School               2739
Griffin High School            1468
Hernandez High School          4635
Holden High School              427
Huang High School              2917
Johnson High School            4761
Pena High School                962
Rodriguez High School          3999
Shelton High School            1761
Thomas High School             1635
Wilson High School             2283
Wright High School             1800

In [400]:
#Finding the total budget per school per school
school_name_df = school_data_complete_df.groupby('school_name')
school_budget = school_name_df['budget'].sum()
budget_per_school = school_budget/students_per_df
budget_per_school_df = pd.DataFrame(budget_per_school)

In [401]:
#Budget per student per school 
budget_per_student_df = pd.DataFrame(budget_per_school/students_per_df)

In [382]:
#Finding the average math score per school
school_name_df = school_data_complete_df.groupby('school_name')
math_per_school_df = pd.DataFrame(school_name_df['math_score'].mean())

In [383]:
#Finding the average reading score per school
school_name_df = school_data_complete_df.groupby('school_name')
reading_per_school_df = pd.DataFrame(school_name_df['reading_score'].mean())

In [384]:
#Finding the total number of students per school that passed Math
school_name_df = passing_math_df.groupby('school_name')
math_per_df = school_name_df['math_score'].count()
percentage_math_per_df = pd.DataFrame(math_per_df/students_per_df*100)

In [385]:
#Finding the total number of students per school that passed Reading 
school_name_df = passing_reading_df.groupby('school_name')
reading_per_df = school_name_df['reading_score'].count()
percentage_reading_per_df = pd.DataFrame(reading_per_df/students_per_df*100)

In [386]:
#Finding the total number of students per school that passed Reading and Math
school_name_df = passing_both_df.groupby('school_name')
both_per_df = school_name_df['reading_score'].count()
percentage_both_per_df = pd.DataFrame(both_per_df/students_per_df*100)

In [452]:
#sum_per_df = pd.merge(type_of_school_df, students_per_df, how='left', on=["school_name"])
clean_sum_df = pd.merge(students_per_clean_df, budget_per_school_df, on='school_name')
clean_sum_df = pd.merge(clean_sum_df, budget_per_student_df, on='school_name')
clean_sum_df = clean_sum_df.rename(columns={'student_name':'Total Students','0_x':'Total School Budget','0_y':'Per Student Budget'})
clean_sum_df = pd.merge(clean_sum_df, math_per_school_df, on='school_name')
clean_sum_df = pd.merge(clean_sum_df, reading_per_school_df, on='school_name')
clean_sum_df = pd.merge(clean_sum_df, percentage_math_per_df, on='school_name')
clean_sum_df = pd.merge(clean_sum_df, percentage_reading_per_df, on='school_name')
clean_sum_df = pd.merge(clean_sum_df, percentage_both_per_df, on='school_name')
clean_sum_df = clean_sum_df.rename(columns={'math_score':'Average Math Score','reading_score':'Average Reading Score','0_x':'% Passing Math','0_y':'% Passing Reading','0':'% Overall Passing'})
clean_sum_df = pd.merge(clean_sum_df, percentage_both_per_df, on='school_name')
clean_sum_df = clean_sum_df.rename(columns={'0_x':'% Overall Passing'})
del clean_sum_df['0_y']

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

In [462]:
#Finding the max overall score
clean_sum_df
top_1 = clean_sum_df['% Overall Passing'].max() 
top_1_df = clean_sum_df.loc[(clean_sum_df['% Overall Passing']==top_1)]
top_1_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Cabrera High School,1858,1081356.0,582.0,83.061895,83.97578,94.133477,97.039828,91.334769

In [466]:
minus_one_df = clean_sum_df.drop('Cabrera High School', axis=0)
top_2 = minus_one_df['% Overall Passing'].max() 
top_2_df = minus_one_df.loc[(clean_sum_df['% Overall Passing']==top_2)]
top_2_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Thomas High School,1635,1043130.0,638.0,83.418349,83.84893,93.272171,97.308869,90.948012

In [468]:
minus_two_df = minus_one_df.drop('Thomas High School', axis=0)
top_3 = minus_two_df['% Overall Passing'].max() 
top_3_df = minus_two_df.loc[(clean_sum_df['% Overall Passing']==top_3)]
top_3_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

* Sort and display the top five performing schools by % overall passing.

In [471]:
minus_three_df = minus_two_df.drop('Griffin High School', axis=0)
top_4 = minus_three_df['% Overall Passing'].max() 
top_4_df = minus_three_df.loc[(clean_sum_df['% Overall Passing']==top_4)]
top_4_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567

In [485]:
minus_four_df = minus_three_df.drop('Wilson High School', axis=0)
toped_5 = minus_four_df['% Overall Passing'].max() 
toped_5_df = minus_four_df.loc[(clean_sum_df['% Overall Passing']==top_5)]
toped_5_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [486]:
top_5_df = pd.merge(top_1_df, top_2_df, on=['school_name','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
top_5_df = pd.merge(top_5_df, top_3_df, on=['school_name','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
top_5_df = pd.merge(top_5_df, top_4_df, on=['school_name','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
top_5_df = pd.merge(top_5_df, toped_5_df, on=['school_name','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
top_5_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [489]:
clean_sum_df
min_1 = clean_sum_df['% Overall Passing'].min() 
min_1_df = clean_sum_df.loc[(clean_sum_df['% Overall Passing']==min_1)]
min_1_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247

In [490]:
minus_one_df = clean_sum_df.drop('Rodriguez High School', axis=0)
min_2 = minus_one_df['% Overall Passing'].min() 
min_2_df = minus_one_df.loc[(clean_sum_df['% Overall Passing']==min_2)]
min_2_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Figueroa High School,2949,1884411.0,639.0,76.711767,81.15802,65.988471,80.739234,53.204476

In [508]:
minus_two_df = minus_one_df.drop('Figueroa High School', axis=0)
min_3 = minus_two_df['% Overall Passing'].min() 
min_3_df = minus_two_df.loc[(clean_sum_df['% Overall Passing']==min_3)]
min_3_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884

In [510]:
minus_three_df = minus_two_df.drop('Huang High School', axis=0)
min_4 = minus_three_df['% Overall Passing'].min() 
min_4_df = minus_three_df.loc[(clean_sum_df['% Overall Passing']==min_4)]
min_4_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508

In [512]:
minus_four_df = minus_three_df.drop('Hernandez High School', axis=0)
min_5 = minus_four_df['% Overall Passing'].min() 
min_5_df = minus_three_df.loc[(clean_sum_df['% Overall Passing']==min_5)]
min_5_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [513]:
wrost_5_df = pd.merge(min_1_df, min_2_df, on=['school_name','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
wrost_5_df = pd.merge(wrost_5_df, min_3_df, on=['school_name','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
wrost_5_df = pd.merge(wrost_5_df, min_4_df, on=['school_name','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
wrost_5_df = pd.merge(wrost_5_df, min_5_df, on=['school_name','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
wrost_5_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type