### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [283]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [284]:
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [285]:
#Finding the length of total number of schools 
total_schools_df=pd.unique(school_data_complete_df['school_name'])
total_schools_df
total_schools_number_df=len(total_schools_df)
total_schools_number_df

15

In [286]:
#Finding the total number of students
total_students_number_df=len(school_data_complete_df)
total_students_number_df

39170

In [287]:
#calculate the total budget 
#Finding the total budget per school per school
school_budget = school_data_complete_df['budget'].unique()
school_budget_df = school_budget.sum()
school_budget_df

24649428

In [288]:
#calculate average math score 
average_math_df=school_data_complete_df['math_score'].mean()
average_math_df

78.98537145774827

In [289]:
#calculate average reading score 
average_reading_df=school_data_complete_df['reading_score'].mean()
average_reading_df

81.87784018381414

In [290]:
#calculate the amount of students passing math
passing_math_df=school_data_complete_df.loc[(school_data_complete_df['math_score']>=70)]
passing_number_math_df=len(passing_math_df)
passing_math_percentage_df=passing_number_math_df/total_students_number_df*100
passing_math_percentage_df

74.9808526933878

In [291]:
#calculate the amount of students passing reading 
passing_reading_df=school_data_complete_df.loc[(school_data_complete_df['reading_score']>=70)]
passing_number_reading_df=len(passing_reading_df)
passing_reading_percentage_df=passing_number_reading_df/total_students_number_df*100
passing_reading_percentage_df

85.80546336482001

In [292]:
#calculate the amount of students passing reading and math 
passing_both_df=school_data_complete_df.loc[(school_data_complete_df['math_score']>=70)&(school_data_complete_df['reading_score']>=70)]
passing_number_both_df=len(passing_both_df)
passing_both_percentage_df=passing_number_both_df/total_students_number_df*100
passing_both_percentage_df

65.17232575950983

In [293]:
#Putting all the summarized variables in a Data Frame 
summary_df=pd.DataFrame({'Total Schools':[total_schools_number_df],
                        'Total Students':[total_students_number_df],
                        'Total Budget':[school_budget_df],
                        'Average Math Score':[average_math_df],
                        'Average Reading Scoare':[average_reading_df],
                        '% Passing Math':[passing_math_percentage_df],
                        '% Passing Reading':[passing_reading_percentage_df],
                        '% Overall Passing':[passing_both_percentage_df]})
summary_df.index.name = None 
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Scoare,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [409]:
#Finding the whether it is a charter or District school
school_name_df = school_data_complete_df.groupby('school_name') 
school_type_df = school_name_df['type'].unique()
school_type_df = pd.DataFrame(school_type_df)
school_type_df = school_type_df['type'].str[0]
school_type_df = pd.DataFrame(school_type_df)

In [339]:
#How many students attend each school
school_name_df = school_data_complete_df.groupby('school_name') 
students_per_df = school_name_df['student_name'].count() 
students_per_clean_df = pd.DataFrame(students_per_df)

In [340]:
#Finding the total budget per school per school
school_name_df = school_data_complete_df.groupby('school_name')
school_budget = school_name_df['budget'].sum()
budget_per_school = school_budget/students_per_df
budget_per_school_df = pd.DataFrame(budget_per_school)

In [341]:
#Budget per student per school 
budget_per_student_df = pd.DataFrame(budget_per_school/students_per_df)

In [342]:
#Finding the average math score per school
school_name_df = school_data_complete_df.groupby('school_name')
math_per_school_df = pd.DataFrame(school_name_df['math_score'].mean())

In [343]:
#Finding the average reading score per school
school_name_df = school_data_complete_df.groupby('school_name')
reading_per_school_df = pd.DataFrame(school_name_df['reading_score'].mean())

In [344]:
#Finding the total number of students per school that passed Math
school_name_df = passing_math_df.groupby('school_name')
math_per_df = school_name_df['math_score'].count()
percentage_math_per_df= pd.DataFrame(math_per_df/students_per_df*100)

In [345]:
#Finding the total number of students per school that passed Reading 
school_name_df = passing_reading_df.groupby('school_name')
reading_per_df = school_name_df['reading_score'].count()
percentage_reading_per_df = pd.DataFrame(reading_per_df/students_per_df*100)

In [346]:
#Finding the total number of students per school that passed Reading and Math
school_name_df = passing_both_df.groupby('school_name')
both_per_df = school_name_df['reading_score'].count()
percentage_both_per_df = pd.DataFrame(both_per_df/students_per_df*100)

In [347]:
percentage_sum_df= pd.merge(percentage_math_per_df, percentage_reading_per_df, on=["school_name"])
percentage_sum_df= pd.merge(percentage_sum_df, percentage_both_per_df, on=["school_name"])

In [421]:
table_sum_df=pd.merge(school_type_df,students_per_clean_df, on=['school_name'])
table_sum_df=pd.merge(table_sum_df, budget_per_school_df, on=['school_name'])
table_sum_df=pd.merge(table_sum_df, budget_per_student_df, on=['school_name'])
table_sum_df=table_sum_df.rename(columns={'type':'School Type','student_name':'Total Students','0_x':'Total School Budget','0_y':'Per Student Budget'})
table_sum_df=pd.merge(table_sum_df, math_per_school_df , on=['school_name'])
table_sum_df=pd.merge(table_sum_df, reading_per_school_df , on=['school_name'])
table_sum_df=pd.merge(table_sum_df, percentage_sum_df , on=['school_name'])
table_sum_df=table_sum_df.rename(columns={'math_score':'Average Math Score','reading_score':'Average Reading Score','0_x':'% Passing Math','0_y':'% Passing Reading'})
table_sum_df = pd.merge(table_sum_df, percentage_both_per_df, on=['school_name'])
table_sum_df=table_sum_df.rename(columns={'0_x':'% Overall Passing'})
del table_sum_df['0_y']
with_out_index_df = table_sum_df.rename(columns={'Average Reading Score':'Reading Score Average'})
with_out_index_df.index.name = None

## Top Performing Schools (By % Overall Passing)

In [401]:
#Finding the max overall score
top_1 = table_sum_df['% Overall Passing'].max() 
top_1_df = table_sum_df.loc[(table_sum_df['% Overall Passing']==top_1)]

In [402]:
#Deleting the last max and finding the new max
minus_one_df = table_sum_df.drop('Cabrera High School', axis=0)
top_2 = minus_one_df['% Overall Passing'].max() 
top_2_df = minus_one_df.loc[(table_sum_df['% Overall Passing']==top_2)]
top_2_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.84893,93.272171,97.308869,90.948012

In [403]:
#Deleting the last max and finding the new max
minus_two_df = minus_one_df.drop('Thomas High School', axis=0)
top_3 = minus_two_df['% Overall Passing'].max() 
top_3_df = minus_two_df.loc[(table_sum_df['% Overall Passing']==top_3)]

* Sort and display the top five performing schools by % overall passing.

In [404]:
#Deleting the last max and finding the new max
minus_three_df = minus_two_df.drop('Griffin High School', axis=0)
top_4 = minus_three_df['% Overall Passing'].max() 
top_4_df = minus_three_df.loc[(table_sum_df['% Overall Passing']==top_4)]

In [405]:
#Deleting the last max and finding the new max
minus_four_df = minus_three_df.drop('Wilson High School', axis=0)
toped_5 = minus_four_df['% Overall Passing'].max() 
toped_5_df = minus_four_df.loc[(table_sum_df['% Overall Passing']==toped_5)]

In [407]:
#Merging the top five overall scores and deleting the index
top_5_df = pd.merge(top_1_df, top_2_df, on=['school_name','School Type','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
top_5_df = pd.merge(top_5_df, top_3_df, on=['school_name','School Type','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
top_5_df = pd.merge(top_5_df, top_4_df, on=['school_name','School Type','Total Students','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
top_5_df = pd.merge(top_5_df, toped_5_df, on=['school_name','School Type','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
top_5_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [387]:
#Getiting the overall lowest score
min_1 = table_sum_df['% Overall Passing'].min() 
min_1_df = table_sum_df.loc[(table_sum_df['% Overall Passing']==min_1)]

In [388]:
#Deleting the lowest score and finding the new lowest score
minus_one_df = table_sum_df.drop('Rodriguez High School', axis=0)
min_2 = minus_one_df['% Overall Passing'].min() 
min_2_df = minus_one_df.loc[(table_sum_df['% Overall Passing']==min_2)]

In [389]:
#Deleting the lowest score and finding the new lowest score
minus_two_df = minus_one_df.drop('Figueroa High School', axis=0)
min_3 = minus_two_df['% Overall Passing'].min() 
min_3_df = minus_two_df.loc[(table_sum_df['% Overall Passing']==min_3)]

In [390]:
#Deleting the lowest score and finding the new lowest score
minus_three_df = minus_two_df.drop('Huang High School', axis=0)
min_4 = minus_three_df['% Overall Passing'].min() 
min_4_df = minus_three_df.loc[(table_sum_df['% Overall Passing']==min_4)]

In [391]:
#Deleting the lowest score and finding the new lowest score
minus_four_df = minus_three_df.drop('Hernandez High School', axis=0)
min_5 = minus_four_df['% Overall Passing'].min() 
min_5_df = minus_three_df.loc[(table_sum_df['% Overall Passing']==min_5)]

In [392]:
#Merging the 5 lowest score into one dataframe 
wrost_5_df = pd.merge(min_1_df, min_2_df, on=['School Type','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
wrost_5_df = pd.merge(wrost_5_df, min_3_df, on=['School Type','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
wrost_5_df = pd.merge(wrost_5_df, min_4_df, on=['School Type','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
wrost_5_df = pd.merge(wrost_5_df, min_5_df, on=['School Type','Total Students','Total School Budget','Per Student Budget', 'Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'], how='outer')
wrost_5_df.index.name = None 
wrost_5_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
1,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
2,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
3,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
4,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [37]:
#Finding all the ninth grade data and finding the average math score per school
grade_9_df = school_data_complete_df.loc[(school_data_complete_df['grade']=='9th')]
grade_9_school_name_df = grade_9_df.groupby('school_name')
math_per_9_df = pd.DataFrame(grade_9_school_name_df['math_score'].mean())

In [38]:
#Finding all the tenth grade data and finding the average math score per school
grade_10_df = school_data_complete_df.loc[(school_data_complete_df['grade']=='10th')]
grade_10_school_name_df = grade_10_df.groupby('school_name')
math_per_10_df = pd.DataFrame(grade_10_school_name_df['math_score'].mean())

In [39]:
#Finding all the eleventh grade data and finding the average math score per school
grade_11_df = school_data_complete_df.loc[(school_data_complete_df['grade']=='11th')]
grade_11_school_name_df = grade_11_df.groupby('school_name')
math_per_11_df = pd.DataFrame(grade_11_school_name_df['math_score'].mean())

In [40]:
#Finding all the twelfth grade data and finding the average math score per school
grade_12_df = school_data_complete_df.loc[(school_data_complete_df['grade']=='12th')]
grade_12_school_name_df = grade_12_df.groupby('school_name')
math_per_12_df = pd.DataFrame(grade_12_school_name_df['math_score'].mean())

In [177]:
#Merging the data frames together and renaming each grade 
math_per_grade_df = pd.merge(math_per_9_df, math_per_10_df, on=['school_name'])
math_per_grade_df = reading_per_grade_df.rename(columns={'math_score_x':'9th','math_score_y':'10th'})
math_per_grade_df = pd.merge(reading_per_grade_df, math_per_11_df, on=['school_name'])
math_per_grade_df = pd.merge(reading_per_grade_df, math_per_12_df, on=['school_name'])
math_per_grade_df = reading_per_grade_df.rename(columns={'math_score_x':'11th','math_score_y':'12th'})
math_per_grade_df.index.name = None 
math_per_grade_df

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [51]:
#Finding all the ninth grade data and finding the average reading score per school
grade_9_df = school_data_complete_df.loc[(school_data_complete_df['grade']=='9th')]
grade_9_school_name_df = grade_9_df.groupby('school_name')
reading_per_9_df = pd.DataFrame(grade_9_school_name_df['reading_score'].mean())

In [52]:
#Finding all the tenth grade data and finding the average reading score per school
grade_10_df = school_data_complete_df.loc[(school_data_complete_df['grade']=='10th')]
grade_10_school_name_df = grade_10_df.groupby('school_name')
reading_per_10_df = pd.DataFrame(grade_10_school_name_df['reading_score'].mean())

In [53]:
#Finding all the eleventh grade data and finding the average reading score per school
grade_11_df = school_data_complete_df.loc[(school_data_complete_df['grade']=='11th')]
grade_11_school_name_df = grade_11_df.groupby('school_name')
reading_per_11_df = pd.DataFrame(grade_11_school_name_df['reading_score'].mean())

In [54]:
#Finding all the twelfth grade data and finding the average reading score per school
grade_12_df = school_data_complete_df.loc[(school_data_complete_df['grade']=='12th')]
grade_12_school_name_df = grade_12_df.groupby('school_name')
reading_per_12_df = pd.DataFrame(grade_12_school_name_df['reading_score'].mean())

In [178]:
#Merging the data frames together and renaming each grade 
reading_per_grade_df = pd.merge(reading_per_9_df, reading_per_10_df, on=['school_name'])
reading_per_grade_df = reading_per_grade_df.rename(columns={'reading_score_x':'9th','reading_score_y':'10th'})
reading_per_grade_df = pd.merge(reading_per_grade_df, reading_per_11_df, on=['school_name'])
reading_per_grade_df = pd.merge(reading_per_grade_df, reading_per_12_df, on=['school_name'])
reading_per_grade_df = reading_per_grade_df.rename(columns={'reading_score_x':'11th','reading_score_y':'12th'})
reading_per_grade_df.index.name = None 
reading_per_grade_df

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [179]:
#Setting up Bins & Group Names for Spending Range per Student 
#Drop the columns you don't need 
bins = [0, 584, 629, 644, 675]
group_names = ['<$584','$585-629','$630-644','$645-675']
clean_sum_df['Spending Ranges (Per Student)']=pd.cut(clean_sum_df['Per Student Budget'], bins, labels=group_names)
school_spending_df = clean_sum_df.groupby('Spending Ranges (Per Student)')
school_spending_df = school_spending_df.max()
school_spending_df = school_spending_df.drop(columns=['Total Students', 'Total School Budget','Per Student Budget'])
school_spending_df.index.name = None 
school_spending_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
<$584,83.803279,83.989488,94.133477,97.039828,91.334769
$585-629,83.839917,84.044699,94.594595,97.138965,90.599455
$630-644,83.418349,83.848930,93.272171,97.308869,90.948012
$645-675,77.289752,81.182722,66.752967,81.316421,53.539172

## Scores by School Size

* Perform the same operations as above, based on school size.

In [180]:
#Setting up Bins & Group Names for School Size  
#Drop the columns you don't need 
bins = [0, 999, 2000, 5000]
group_names = ['Small(<1000)','Medium(1000-2000)','Large(2001-5000)']
clean_sum_df['School Size']=pd.cut(clean_sum_df['Total Students'], bins, labels=group_names)
school_size_df = clean_sum_df.groupby('School Size')
school_size_df = school_size_df.max()
school_size_df = school_size_df.drop(columns=['Total Students', 'Total School Budget','Per Student Budget','Spending Ranges (Per Student)'])
school_size_df.index.name = None 
school_size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Small(<1000),83.839917,84.044699,94.594595,96.252927,90.540541
Medium(1000-2000),83.682222,83.975780,94.133477,97.308869,91.334769
Large(2001-5000),83.274201,83.989488,93.867718,96.539641,90.582567

## Scores by School Type

* Perform the same operations as above, based on school type

In [79]:
bins = ['Charter', 'District']
group_names = ['Charter','District']
clean_sum_df['School Type']=pd.cut(clean_sum_df['Type'], bins, labels=group_names)
school_type_df = clean_sum_df.groupby('School Type')
school_type_df = school_size_df.max()
school_type_df = school_size_df.drop(columns=['Total Students', 'Total School Budget','Per Student Budget','Spending Ranges (Per Student)'])
school_type_df

KeyError: 'Type'